.App {
  background: burlywood;
  color: rgb(223, 199, 170);
  min-height: 100vh;
  text-decoration: none;
}

.nav-bar-link {
  text-decoration: none;
  color: bisque;
}

.login-form {
  border-top: 2px solid rgb(181, 136, 82);
  border-right: 3px solid rgb(181, 136, 82);
  border-left: 3px solid rgb(181, 136, 82);
  border-bottom: 3px solid rgb(181, 136, 82);
  border-radius: .2rem;
  background: blanchedalmond;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  color: rgb(136, 120, 100);
  padding: 3rem;
  width: 50%;
  margin: 0 auto;
}
.login-form button {
  margin-top: .7rem;
}

.section-description {
  box-shadow: 0 0 .5rem .1rem black;
  border-radius: .7rem;
  background: rgb(181, 148, 108);
  margin: 1rem auto;
  min-height: 50vh;
  width: 70%;
}

.section-description p {
  color: rgb(80, 69, 53);
  font-size: large;
  font-weight: 600;
  padding: 1.3rem;
}

.header-div {
  text-align: center;
  flex-grow: 1;
}

header {
  background: chocolate;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

h1 {
  display: inline-block;
  cursor: pointer;
  text-shadow: -.3rem .3rem .6rem rgb(59, 51, 114);
  font-weight: 500;
}

li {
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  padding: 1rem 2rem 0 0;
}
