.App {
  color: rgb(223, 199, 170);
  text-decoration: none;
}

.nav-bar-link {
  text-decoration: none;
  color: bisque;
}

header {
  background: chocolate;
  border-bottom: 1px solid rgb(255, 0, 0);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

h1 {
  text-align: center;
  text-shadow: -.3rem .3rem .6rem rgb(59, 51, 114);
  flex-grow: 1;
  font-weight: 500;
}

li {
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  padding: 1rem 2rem 0 0;
}
